<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="ProfessionPageStyle.css">
    <title><%= profession.name %></title>
</head>
<body>
    <section class="container">
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="main-menu-icon"><div></div></div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="/">ДОМАШНЯЯ СТРАНИЦА</a></li>
    
                        <% if (!loggedIn) { %>
                            <li><a href="/login">ВОЙТИ</a></li>
                        <% } %>
                    
                        <% if (loggedIn) { %>
                            <li><a href="/characteristics">ПРОФЕССИИ</a></li>
                        <% } %>
                    
                        <% if (adminUser) { %>
                            <li><a href="/poll_1_part_1">ОПРОС</a></li>
                        <% } %>
                        
                        <% if (adminUser) { %>
                            <li><a href="/polls_results">РЕЗУЛЬТАТЫ ТЕСТИРОВАНИЯ</a></li>
                        <% } %>
                        <% if (adminUser) { %>
                            <li><a href="/adminRegister">ДОБАВИТЬ АДМИНА</a></li>
                        <% } %>
<!--                        <% if (adminUser) { %>-->
<!--                            <li><a href="/create_invite">ССЫЛКА-ПРИГЛАШЕНИЕ</a></li>-->
<!--                        <% } %>-->
                        <% if (loggedIn) { %>
                            <li><a href="/adminPage">ЭКСПЕРТЫ</a></li>
                        <% } %>
                        <% if (loggedIn) { %>
                            <li><a href="/logout">ВЫЙТИ</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h1><%= profession.profession %></h1>
    <p><%= profession.description %></p>

    <% if (characteristics.length > 0) { %>
        <h2>Характеристики</h2>
            <ul>
                <% characteristics.forEach(function(characteristic) { %>
                    <li><strong>Конкуренция:</strong> <%= characteristic.competition%></li>
                    <li><strong>Зарплата:</strong> <%= characteristic.salary %></li>
                    <li><strong>Сложность обучения:</strong> <%= characteristic.study %></li>
                    <li><strong>Описания профессии:</strong> <%= characteristic.description %></li>
                    <li><strong>Основные задачи:</strong> <%= characteristic.task %></li>
                <% }); %>
            </ul>

    <% } else { %>
        <p>Характеристики для этой профессии отсутствуют.</p>
    <% } %>
    </section>
</body>
</html>
